
@model List<Category>
@foreach (var item in Model)
{
    <li>
        <a asp-controller="Home"
           asp-action="BookList"
           asp-route-category="@item.Url" class="@(ViewBag.SelectedCategory == item.Url?"active":"")"> @item.Tittle</a>
    </li>}